Try writing smaller functions so it's easier to unit test them.
For every code you change or create make sure to create or update documentation under /docs directory and as applicable unit tests where they belong and selenium tests under /tests/selenium
